// ================================== //
// ============ Variables =========== //

$elementBorderRadius: 3px;
$elementPadding: 4px;

// Colors
$white: #FFFFFF;
$black: #000000;
$accent: rgb(35, 175, 35);
$shade1: #FFFFF3;
$shade2: #E0E3DA;
$shade3: #253238;
$shade4: #CCCCCC;
